@import '@/styles/mainStyles';

main {
  // background-color: #eaeaea;
  margin-top: $headerHeight;
}

.headerBG {
  // background-image: url('~@/assets/bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
}

.indexContainer {
  overflow: visible;
  z-index: 3;
  position: relative;
  top: -3vh;

  .indexCard {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    width: 85vw;
    margin: 0 auto;
    height: 1000px;
    z-index: 3;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
  }
}