.PageTitle {
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 1.5em;
    font-family: "proxima-nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}